$ms-color-themePrimary: #0078d4;
$ms-color-themeLighterAlt: #eff6fc;
$ms-color-themeLighter: #deecf9;
$ms-color-themeLight: #c7e0f4;
$ms-color-themeTertiary: #71afe5;
$ms-color-themeSecondary: #2b88d8;
$ms-color-themeDarkAlt: #106ebe;
$ms-color-themeDark: #005a9e;
$ms-color-themeDarker: #004578;
$ms-color-neutralLighterAlt: #faf9f8;
$ms-color-neutralLighter: #f3f2f1;
$ms-color-neutralLight: #edebe9;
$ms-color-neutralQuaternaryAlt: #e1dfdd;
$ms-color-neutralQuaternary: #d0d0d0;
$ms-color-neutralTertiaryAlt: #c8c6c4;
$ms-color-neutralTertiary: #a19f9d;
$ms-color-neutralSecondary: #605e5c;
$ms-color-neutralPrimaryAlt: #3b3a39;
$ms-color-neutralPrimary: #323130;
$ms-color-neutralDark: #201f1e;
$ms-color-black: #000000;
$ms-color-white: #ffffff;

@import '~office-ui-fabric-core/src/sass/Fabric.scss';
